Need to clarify what "domain" meant to describe and what impact a domain has with respect layer functionality

It is not clear in the draft what is the real meaning of "domain" and the impact on layer functionality:  the suggestion is to use the term "region" to describe a switching technology domain (RFC4206). 
 A switching type describes the ability of a node to forward data of a particular data plane technology, and uniquely identifies a network region.  
A layer describes a data plane switching granularity level (e.g., VC4, VC-12).  A data plane layer is associated with a region  however, more than one data plane layer can be associated with the same region (e.g., both VC4 and VC12 are associated with TDM).
For example in our case for Ethernet we can say that PHY and MAC data plane layers can be associated with the same ETH region.




The issue here is that the draft doesn't define the term "domain". However, it does define the following terms:

__original__ :
> Cross-layer link:

    An Ethernet link between an Ethernet interface on a router and an Ethernet interface on an optical NE.

This definition could mean the ethernet interface between a router and a transponder. In this case, the link is an ethernet link and would follow the logic of ethernet with PHY and MAC layers. Assuming we talk about ITU-T layers and e.g. an optical Ethernet interface of a router plugged into a WDM. In this case, the link would be an ITU-T optical layer as the ethernet part (MAC and PHY) would be edge-to-edge with the ethernet peer. A more appropriate term would be cross-region link because the ethernet switching region will be on the router and the optical switching region on the ROADM. I am actually unclear which of them is defined here. Depending on it I can propose some text.
__unclear_

__original__
> Intra-domain single-layer Ethernet link:

    An Ethernet link between between two Ethernet interfaces on physically adjacent routers that belong to the same P-PNC domain.

Since domain is not defined, I suggest to use "PNC-domain" to clarify that it is about the act of provisioning that forms the domains. An ethernet link usually has two layers (MAC and PHY). Also the term "router" should be replaced by "device" throughout the definitions:

__suggested__:
> Intra-PNC-domain Ethernet link:

    An Ethernet link between between two Ethernet interfaces on physically adjacent devices that belong to the same P-PNC domain.

__original__
Intra-domain single-layer IP link:

    An IP link supported by an intra-domain single-layer Ethernet link.

__suggested:
Intra-PNC-domain IP link:
    An IP link supported by an intra-PNC-domain Ethernet links.


__original__
Inter-domain single-layer Ethernet link:

    An Ethernet link between between two Ethernet interfaces on physically adjacent routers which belong to different P-PNC domains.

__suggested__
Inter-PNC-domain Ethernet link:

    An Ethernet link between between two Ethernet interfaces on physically adjacent devices which belong to different PNC domains.


__original__
Inter-domain single-layer IP link:

    An IP link supported by an inter-domain single-layer Ethernet link.

__suggested__
Inter-PNC-domain IP link:

    An IP link supported by an inter-PNC-domain Ethernet link.

__original__
Intra-domain multi-layer Ethernet link:

    An Ethernet link supported by two cross-layer links and an optical tunnel in between.

As Ethernet links are inherently multi-layer (MAC and PHY) it doesn't mean much to talk about multilayer ethernet links. The description suggests the meaning is a link that starts in a packet switching region and traverses a wavelength switching region.
__unclear__

Intra-domain multi-layer IP link:

    An IP link supported an intra-domain multi-layer Ethernet link.

same as above, the meaning/terminology is not clear.



@ggrammel : In order to protect the master branch, I have create a PR #120 and a new branch to track the changes to fix this issue

> The issue here is that the draft doesn't define the term "domain". However, it does define the following terms:
> 
> **original** :
> 
> > Cross-layer link:
> 
> ```
> An Ethernet link between an Ethernet interface on a router and an Ethernet interface on an optical NE.
> ```
> 
> This definition could mean the ethernet interface between a router and a transponder. In this case, the link is an ethernet link and would follow the logic of ethernet with PHY and MAC layers. Assuming we talk about ITU-T layers and e.g. an optical Ethernet interface of a router plugged into a WDM. In this case, the link would be an ITU-T optical layer as the ethernet part (MAC and PHY) would be edge-to-edge with the ethernet peer. A more appropriate term would be cross-region link because the ethernet switching region will be on the router and the optical switching region on the ROADM. I am actually unclear which of them is defined here. Depending on it I can propose some text. __unclear_
> 

We are updating the terminology to align with the optical impairments draft: see #78 

If the optical node is a WDM node with an integrated transponder, this link is between a router and a transponder. If the optical node is an OTN node, it is between a router and the access card of the optical node.

The MAC layer is terminated on the router but not on the optical node. The optical node terminates the PMD layer and:
- in case of transparent mapping, switches at the PCS sub-layer;
- in case of frame-based mapping, terminates the PCS and switches at the MAC layer.

The management of this link is quite different than the management of the link between two adjacent routers (which both terminates the ETH MAC layer)

I am ok to rename this link as 'cross-region link'

> **original**
> 
> > Intra-domain single-layer Ethernet link:
> 
> ```
> An Ethernet link between between two Ethernet interfaces on physically adjacent routers that belong to the same P-PNC domain.
> ```
> 
> Since domain is not defined, I suggest to use "PNC-domain" to clarify that it is about the act of provisioning that forms the domains. An ethernet link usually has two layers (MAC and PHY). Also the term "router" should be replaced by "device" throughout the definitions:
> 
> **suggested**:
> 
> > Intra-PNC-domain Ethernet link:
> 
> ```
> An Ethernet link between between two Ethernet interfaces on physically adjacent devices that belong to the same P-PNC domain.
> ```

I have two comments here:
- Intra-PNC-domain Ethernet link looks less readable that Intra-domain Ethernet link. IMHO, if we have a clear definition we can shorten the term to improve readability
- There are two types of intra-PNC-domain Ethernet links:
  - those between physically adjacent routers (just a cable between them)
  - those which are setup through an Optical network (see comment below for the multi-layer Ethernet link)

> 
> **original** Intra-domain single-layer IP link:
> 
> ```
> An IP link supported by an intra-domain single-layer Ethernet link.
> ```
> 
> __suggested: Intra-PNC-domain IP link: An IP link supported by an intra-PNC-domain Ethernet links.
> 

Same comment as above on the term intra-PNC-domain versus intra-domain

> **original** Inter-domain single-layer Ethernet link:
> 
> ```
> An Ethernet link between between two Ethernet interfaces on physically adjacent routers which belong to different P-PNC domains.
> ```
> 
> **suggested** Inter-PNC-domain Ethernet link:
> 
> ```
> An Ethernet link between between two Ethernet interfaces on physically adjacent devices which belong to different PNC domains.
> ```
> 

I am ok to remove the 'single layer' qualifier here since inter-domain Ethernet links are assumed to be always between two physically adjacent routers.

Same comment as above on the term inter-PNC-domain versus inter-domain

> **original** Inter-domain single-layer IP link:
> 
> ```
> An IP link supported by an inter-domain single-layer Ethernet link.
> ```
> 
> **suggested** Inter-PNC-domain IP link:
> 
> ```
> An IP link supported by an inter-PNC-domain Ethernet link.
> ```
> 

Same comment as above on the term intra-PNC-domain versus intra-domain

> **original** Intra-domain multi-layer Ethernet link:
> 
> ```
> An Ethernet link supported by two cross-layer links and an optical tunnel in between.
> ```
> 
> As Ethernet links are inherently multi-layer (MAC and PHY) it doesn't mean much to talk about multilayer ethernet links. The description suggests the meaning is a link that starts in a packet switching region and traverses a wavelength switching region. **unclear**

Let's consider these two cases:

```
R1 --- R2

R1 --- Optical_NE1 --- (Optical Network) --- Optical_NE2 --- R2

```

In both cases, there is an adjacency between the MAC sub-layer terminations in R1 and R2

The I-D is using the term "Ethernet Link" to describe this adjacency and qualify this as intra-domain or inter-domain depending on whether the routers R1 and R2 belongs to the same P-PNC domain or not.

In the first case, the adjacency between the MAC sub-layer terminations in R1 and R2 is supported by an adjacency between the PMA/PMD sub-layer terminations in R1 and R2

In the second case: there are:
- an adjacency between the PMA/PMD sub-layer terminations in R1 and in Optical NE1
- an adjacency between the PMA/PMD sub-layer terminations in R2 and in Optical NE2
- an optical tunnel between Optical NE1 and Optical NE2

The adjacency between the MAC sub-layer terminations in R1 and R2 is supported by the concatenation of these three elements. Multi-layer coordination is required to manage the second case.

The I-D is using the term "single layer" to describe the first case and the term "multi-layer" to describe the second case.

> 
> Intra-domain multi-layer IP link:
> 
> ```
> An IP link supported an intra-domain multi-layer Ethernet link.
> ```
> 
> same as above, the meaning/terminology is not clear.

See comment above



the challenge with naming single/multi-layer these cases is
> R1 --- R2
R1 --- Optical_NE1 --- (Optical Network) --- Optical_NE2 --- R2

that none of it is "single layer". From G.8010/Y.1306:
> 6.2 Ethernet network layered structure
Two layer networks are defined in the Ethernet transport network architecture:
• Ethernet MAC (ETH) layer network;
• Ethernet PHY (ETY) layer network.
The ETH layer network is a path layer network. The ETY layer network is a section layer network. The ETH layer network characteristic information can be transported through ETH links supported by trails in the server layer networks (e.g., ETY, SDH VC-n, OTN ODUk, MPLS, ATM).

The the MAC and PHY layer still exist in their entirety and the physical medium dependent (PMD) sublayer is a sublayer of PHY (ETY) i.e. a transceiver for the physical medium.   

IOW, one may call the first "single technology" or if the term "region" is preferred, call it "single-region" but it's not single layer.


Summary of my understanding of Gert's proposal for terminology changes:

| OLD | Gert's proposal |
|------|-------|
| intra-domain | intra-PNC-domain |
| inter-domain | inter-PNC-domain |
| cross-layer | cross-region |
| single-layer | single-technology or single-region |
| multi-layer | multi-technology or multi-region |



**[2024-06-04 ACTN POI Call](https://github.com/IETF-TEAS-WG/actn-poi/wiki/June-4,-2024)**

This issue will be addressed in an ad-hoc call between Gert, Italo and Sergio: the output will be reported in github for further review/discussion within the team

If anybody else is interested to join the call, please let Italo or Gert know

Sergio noted that the term 'region' is applicable to control plane and not to data plane

The references for MRN/MLN are:
- [RFC 5212](https://datatracker.ietf.org/doc/html/rfc5212)
- [RFC 5339](https://datatracker.ietf.org/doc/html/rfc5339)
- [RFC 6001](https://datatracker.ietf.org/doc/html/rfc6001)


RFC 5212:
> A switching type describes the ability of a node to forward data of a particular
   data plane technology, and uniquely identifies a network region.  A
   layer describes a data plane switching granularity level (e.g., VC4,
   VC-12).  A data plane layer is associated with a region in the
   control plane (e.g., VC4 is associated with TDM, MPLS is associated
   with PSC).  However, more than one data plane layer can be associated
   with the same region (e.g., both VC4 and VC12 are associated with
   TDM).  Thus, a control plane region, identified by its switching type
   value (e.g., TDM), can be sub-divided into smaller-granularity
   component networks based on "data plane switching layers".

The proposed alternatives in the table may be a little misleading.

1. a PNC-domain is a domain of nodes that are provisioned by a single PNC. I.e. it is not uncommon that an operator has more than one optical-PNC in the network, typically based on some vendor choices. If one has a back-to-back connection between O1-PNC and O2-PNC, it is an inter-PNC-domain link. 
2. PNC-domains are strictly related to control. O1-PNC and O2-PNC would be different control domains in the O-Region. The need for O1/O2/.. controllers is not related to Layers but a choice made by operators in structuring the network.
3. Layers follow the ITU-T layered model logic and are Transport plane related. To "connect" different layers, one needs model an adaptation function which is not part of an ITU-T-link. So a cross-layer-link is a control construct and would rather represent a cross-region link.
4. Any layered technology involves many layers, i.e. Ethernet is not a single layer, nor is OTN, WDM etc. The control logic is that switching happens on a specific layer (E.g. Ethernet MAC layer) and all lower layers need to be terminated to do so e.g. PHY, OPU,ODU,OTU,OCH (using old terminology here). So in simplified terms: the sum of devices operating (switching) on a specific technology is called "region".

| OLD | Gert's proposal | Other alternatives (for further discussion) | commenting proposed alternatives
|------|-------|-----|-
| intra-domain-link | intra-PNC-domain | intra-domain (with proper clarification in the definition) |
| inter-domain-link | inter-PNC-domain | inter-domain (with proper clarification in the definition) |  an O1-PNC-domain to O2-PNC-domain link would then be labeled "inter-domain-link"
| cross-layer-link | cross-region | cross-domain | if "domain" is meant to be a PNC-domain, then cross-domain is the same as inter-domain. If the link connects regions, it would be an inter-region link.
| single-layer-link | single-technology or single-region | single-hop | a hop is typically considered to  be between two devices of the same region.
| multi-layer-link | multi-technology or multi-region | multi-hop | <- this term suggests multiple hops in the same region - is that the intention?



Surely RFC5212 can help for some definitions. 
RFC5212:
```
The representation, in a GMPLS control plane, of a switching
   technology domain is referred to as a region [RFC4206].  A switching
   type describes the ability of a node to forward data of a particular
   data plane technology, and uniquely identifies a network region.  A
   layer describes a data plane switching granularity level (e.g., VC4,
   VC-12).  A data plane layer is associated with a region in the
   control plane (e.g., VC4 is associated with TDM, MPLS is associated
   with PSC).  However, more than one data plane layer can be associated
   with the same region (e.g., both VC4 and VC12 are associated with
   TDM).  Thus, a control plane region, identified by its switching type
   value (e.g., TDM), can be sub-divided into smaller-granularity
   component networks based on "data plane switching layers". 
``` 

**[2024-06-11 ACTN POI ad-hoc call](https://github.com/IETF-TEAS-WG/actn-poi/wiki/minutes-2024-06-11)**

Jeff: region can be a bit misleading for a reader with the concept of geographical region. Sometime we use the term technology domain to refer to the IP domain, MW domain or Optical domain

Proposal from the call:
- single-technology intra-domain link instead of single-layer intra-domain link
- multi-technology intra-domain link instead of multi-layer intra-domain link
- inter-domain link, with proper clarification that the term "domain" refers to PNC domain (as defined by Gert)
- cross-technology link instead of cross-layer link

Add proper text to clarify that the term "domain" refers to PNC domain (as defined by Gert)

Also need to define technology by referencing the MLN/MRN document

- [ ] @ggrammel send a reference to be used in the definition for technology (RFC5212)

- [ ] @italobusi update the text in PR #118 based on the agreement above 


Suggested text:

This draft leverages terminology from [RFC5212] where the term "region" is applied to (GMPLS) control domains: 
> The representation, in a GMPLS control plane, of a switching technology domain is referred to as a region [RFC4206].  A switching type describes the ability of a node to forward data of a particular data plane technology, and uniquely identifies a network region.  

The authors recognize that terminology can be confusing since in common language the term "region" is associated to a geographical region and the term "domain" has multiple connotations. To keep the text readable and disambiguate the terminology, this draft uses the following terms and definitions:
- Technology: short for "switching technology domain" defined as "region" in [RFC5212].
- Domain: short for PNC-domain. We define a Domain as part of the network under control of a single PNC instance. It is subject to the capabilities of the PNC which technologies are controlled.
- Layer: refers to a Layer used in [ITU-T G.8010/Y.1306]
